@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

html {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body {
  @include dimensions(auto, 100%);
  @include indentations(0, 0);
  font: {
    family: 'Roboto', sans-serif;
    size: 16px;
  }
  min-height: 100vh;
  // outline-color: RoyalBlue;

  a {
    border: none;
    color: $black;
    display: inline-block;
    text-decoration: none;

    // img {
    //   @include dimensions(100%, 100%);
    // }
  }

  img {
    border: none;
  }

  // .closed {
  //   display: none;
  // }
  //
  // .opened {
  //   display: block;
  // }

  header, footer {
    background-color: $white;
    color: $black;
    width: 100%;
  }

  header {
    font-family: 'Roboto Condensed', sans-serif;
    height: 10em;
    position: relative;

    .my-name-link {
      left: 1em;
      position: relative;

      .my-name {

      }
    }

    nav {
      position: absolute;
      right: 0;
      top: 1em;
      width: 13em;

      .nav-anchor {
        @include indentations(0 0.1em, 1em 0.5em);
        font-size: 1.1em;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  main {
    margin: 0 auto 2em auto;
    min-height: 100vh;
    width: 45em;

    .row {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 15em;
    }

    .project {
      overflow: hidden;
      position: relative;
      width: 100%;

      .project-thumb {
        width: 100%;
      }

      .project-tile {
        @include dimensions(100%, 100%);
        background-color: rgba(0, 0, 0, 0.9);
        box-sizing: border-box;
        position: absolute;
        text-align: center;
        top: 0;
        z-index: 1;

        .project-tile-name,
        .project-tile-button {
          color: $white;
          left: 0;
          padding: 1em;
          position: absolute;
          width: 100%;
        }

        .project-tile-name {
          box-sizing: border-box;
          font-weight: bold;
          top: 0;
        }

        .project-tile-button {
          background-color: SteelBlue;
          border: none;
          bottom: 1em;
          cursor: pointer;
          font-size: 1em;
        }
      }
    }

    .freecodecamp-portfolio .project-tile {
      height: 21.75em;
    }

    .krasnopolie-library .project-tile {
      height: 41.61em;
    }

    .tian-yuan-zhao-portfolio .project-tile {
      height: 18.81em;
    }

    .tatiana-urda-portfolio .project-tile {
      height: 24.9em;
    }

    .project-tile_shown {
      left: 0;
      transition: left 1s;
    }

    .project-tile_hidden {
      left: -15em;
      transition: left 1s;
    }

    // .project-tile_shown .project-tile-name,
    // .project-tile_shown .project-tile-button {
    //   left: 0;
    //   transition: left 1s;
    // }
    //
    // .project-tile_hidden .project-tile-name,
    // .project-tile_hidden .project-tile-button {
    //   left: -17em;
    //   transition: left 1.5s;
    // }
  }

  footer {
    background-color: $black;
    color: $white;
    height: 12em;
  }
}
