@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

html,
body {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body {
  background-color: white;
	display: flex;
	flex-flow: column nowrap;
	font: {
    family: 'Jost', sans-serif;
    size: 16px;
  }
	justify-content: space-between;
	overflow-x: hidden;

  a {
    border: none;
  	text-decoration: none;
  }

  img {
  	border: none;
  }

  p {
  	line-height: 1.4;
  }

  .container,
  header,
  main,
  footer {
  	position: relative;
  }

  .container {
    height: auto;

    .my-name {
      @include indentations(0 auto, 0 1em);
    	box-sizing: border-box;
    	position: relative;
    	text-align: center;
    	top: 2em;
    	width: 23em;
    	z-index: 2;

      a {
      	background-color: rgba(255, 255, 255, 0.8);
      	color: black;
      	display: block;

        h1 {
          @include indentations(0, 0.1em 0 0 0);
        }
      }

      h2 {
        font-weight: normal;
        margin: 0.5em auto;
      }
    }

    .parallax-effect {
      @include dimensions(30em, 50em);
    	background-color: rgba(7, 32, 39, 0.1);
    	bottom: 0;
    	left: 0;
    	margin: auto;
    	// max-width: 50em;
    	position: absolute;
    	right: 0;
    	top: 0;

      .layer {
      	position: absolute;
      }

      .triangle {
      	@include dimensions(11em, 11em);
      }

      #triangle {
      	animation: draw 7s forwards linear;
      	fill: none;
      	stroke: RoyalBlue;
      	stroke-dasharray: 900;
      	stroke-dashoffset: 900;
      	stroke-width: 5;
      }

      .circle1 {
        @include dimensions(14em, 14em);
      	bottom: 0;
      	left: 2em;
      }

      #circle1 {
      	fill: none;
      	animation: draw 5.5s forwards linear;
      	stroke: SteelBlue;
      	stroke-dasharray: 700;
      	stroke-dashoffset: 700;
      	stroke-width: 6;
      }

      .rectangle {
        @include dimensions(24em, 17.2em);
      	bottom: 0;
      	left: 0;
      	margin: auto;
      	right: 0;
      	top: 0;
      }

      #rectangle {
      	animation: draw 5s forwards linear;
      	fill: none;
      	stroke: MidnightBlue;
      	stroke-dasharray: 1300;
      	stroke-dashoffset: 1300;
      	stroke-width: 5;
      }

      .circle2 {
        @include dimensions(10em, 10em);
      	right: 1em;
      	top: 1.5em;
      }

      #circle2 {
      	animation: draw 7s forwards linear;
      	fill: none;
      	stroke: CornFlowerBlue;
      	stroke-dasharray: 700;
      	stroke-dashoffset: 700;
      	stroke-width: 6;
      }

      .line1 {
        @include dimensions(16em, 16em);
      	bottom: 2em;
      	right: 2em;
      }

      .line2 {
        @include dimensions(13.5em, 13.5em);
      	bottom: 0;
      	right: 7em;
      }

      #line1, #line2 {
      	animation: draw 8s forwards linear;
      	stroke: DeepSkyBlue;
      	stroke-dasharray: 700;
      	stroke-dashoffset: 700;
      	stroke-width: 6;
      }

      @keyframes draw {
      	100% {
      		stroke-dashoffset: 0;
      	}
      }
    }
  }

  main {
  	margin: 0 auto;
  	max-width: 80em;

    .nav-wrapper {
    	position: relative;
      top: 2em;
    	width: 100%;

      nav {
      	margin: 0 auto;
      	width: 42em;
      	z-index: 2;

        a {
        	background-color: rgba(255, 255, 255, 0.8);
        	color: black;
        	display: inline-block;
        	font-weight: bold;
        	letter-spacing: 1px;
        	padding: 0.5em 0;
        	text-transform: uppercase;
        	transition: letter-spacing 1.3s;
        }

        a:last-child {
        	float: right;
        }

        a:hover {
        	color: SteelBlue;
        	letter-spacing: 2px;
        }
      }

    .projects {
    	display: flex;
    	flex-flow: row wrap;
    	justify-content: space-around;
      position: relative;
      top: 4em;

      .project {
      	margin-bottom: 2em;
      	position: relative;
      	width: 30%;

        .project-image {
          @include indentations(0 auto, 0.5em 0);
        	display: block;
        	width: 18em;
        }

        .tile {
          @include dimensions(100%, 100%);
        	background-color: rgba(0, 0, 0, 0.85);
        	border: 0.2em solid SteelBlue;
        	bottom: 0;
        	box-shadow: 0 0 0 0.3em rgba(0, 0, 0, 0.85);
        	box-sizing: border-box;
        	display: none;
        	left: 0;
        	position: absolute;
        	text-align: center;

          &:before {
          	content: '';
          	display: inline-block;
          	height: 100%;
          	vertical-align: middle;
          }

          .tile-name {
            @include dimensions(100%, 100%);
            box-sizing: border-box;
          	color: white;
          	display: inline-block;
          	font: {
              size: 1em;
              weight: 400;
            }
            position: relative;
            padding: 2em 1em;
          	vertical-align: middle;

            h3 {
              margin: 0 0 1em 0;
            }

            .tile-link-wrapper {
              bottom: 2em;
              left: 0;
              position: absolute;
              width: 100%;

              .tile-link {
                border-top: 1px solid white;
                color: white;
              	font-weight: normal;
                padding-top: 0.6em;
              }
            }
          }
        }

        &:hover .tile {
        	display: block;
        }
      }
    }

    .arrow-up {
      @include dimensions(3em, 3em);
      bottom: 0.7em;
      display: none;
      position: fixed;
      right: 1.3em;
      z-index: 1;

      img {
        @include dimensions(100%, 100%);
      }
    }
  }

  footer {
    background-color: black;

    a {
      color: white;
    }

    @include respond-to('max-width: 640px') {
      height: 13em;
      text-align: center;
    }

    .my-name-link {
      margin: 0.5em 0;
      position: relative;
      top: 0.7em;

      @include respond-to('max-width: 640px') {
        left: 0;
      }

      .my-name {
        font: {
          size: 1.3em;
          weight: normal;
        }
      }
    }

    .contact-icons {
      display: inline-block;
      left: 1.7em;
      position: absolute;
      top: 6em;

      @include respond-to('max-width: 640px') {
        left: 0;
        position: relative;
        top: 0.7em;
        width: 100%;
      }

      a {
        @include dimensions(auto, 40px);
        display: inline-block;
        margin-right: 0.5em;
        vertical-align: middle;

        @include respond-to('max-width: 640px') {
          margin: 0.5em;
        }

        img {
          width: 100%;
        }
      	@include dimensions(2.4em, 2.8em);
      }
    }
  }
}
