@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

html,
body {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body {
  background-color: white;
	display: flex;
	flex-flow: column nowrap;
	font: {
    // family: 'Josefin Sans', sans-serif;
    size: 16px;
  }
	justify-content: space-between;
	overflow-x: hidden;

  a {
    border: none;
  	text-decoration: none;
  }

  img {
  	border: none;
  }

  p {
  	line-height: 1.4;
  }

  .container,
  header,
  main,
  footer {
  	position: relative;
  }

  header {
  	height: 100vh;

    .my-name {
      @include indentations(0 auto, 0 1em);
    	box-sizing: border-box;
    	position: relative;
    	text-align: center;
    	top: 2em;
    	width: 23em;
    	z-index: 2;

      a {
      	background-color: rgba(255, 255, 255, 0.8);
      	color: black;
      	display: block;

        h1 {
          @include indentations(0, 0.1em 0 0 0);
        }
      }

      h2 {
        font-weight: normal;
        margin: 0.5em auto;
      }
    }

    .parallax-effect {
      @include dimensions(30em, 50em);
    	background-color: rgba(7, 32, 39, 0.1);
    	bottom: 0;
    	left: 0;
    	margin: auto;
    	// max-width: 50em;
    	position: absolute;
    	right: 0;
    	top: 0;

      .layer {
      	position: absolute;
      }

      .triangle {
      	@include dimensions(11em, 11em);
      }

      #triangle {
      	animation: draw 7s forwards linear;
      	fill: none;
      	stroke: RoyalBlue;
      	stroke-dasharray: 900;
      	stroke-dashoffset: 900;
      	stroke-width: 5;
      }
    }
  }

  main {
    min-height: 100vh;
    position: relative;

    #portfolio {
      margin: 0 auto 2em auto;
      max-width: 45em;
      position: relative;

      @include respond-to('max-width: 800px') {
        width: 30em;
      .circle1 {
        @include dimensions(14em, 14em);
      	bottom: 0;
      	left: 2em;
      }

      @include respond-to('max-width: 640px') {
        width: 15em;
      #circle1 {
      	fill: none;
      	animation: draw 5.5s forwards linear;
      	stroke: SteelBlue;
      	stroke-dasharray: 700;
      	stroke-dashoffset: 700;
      	stroke-width: 6;
      }

      .column {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 15em;
      .rectangle {
        @include dimensions(24em, 17.2em);
      	bottom: 0;
      	left: 0;
      	margin: auto;
      	right: 0;
      	top: 0;
      }

      .column.three {
        @include respond-to('max-width: 800px') {
          position: absolute;
          right: 0;
          top: 18.5625em;
        }

        @include respond-to('max-width: 640px') {
          position: static;
        }
      #rectangle {
      	animation: draw 5s forwards linear;
      	fill: none;
      	stroke: MidnightBlue;
      	stroke-dasharray: 1300;
      	stroke-dashoffset: 1300;
      	stroke-width: 5;
      }

      .project {
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;

        .project-thumb {
          cursor: pointer;
          width: 100%;
        }

        .project-tile {
          @include dimensions(100%, 100%);
          background-color: rgba(0, 0, 0, 0.9);
          position: absolute;
          top: 0;
          z-index: 1;

          .project-tile-name,
          .project-tile-link {
            color: white;
            left: 0;
            padding: 1em;
            position: absolute;
            width: 100%;
          }

          .project-tile-name {
            box-sizing: border-box;
            font: {
              size: 1.1em;
              weight: normal;
            }
            line-height: 1.3;
            top: 0;
          }

          .project-tile-link {
            background: linear-gradient(to right, rgb(70, 130, 180), rgb(0, 0, 139));
            background-size: 300% 300%;
            border: none;
            bottom: 1em;
            box-sizing: border-box;
            font-size: 0.9em;
            padding-top: 1.2em;
            text-transform: uppercase;
            transition: all 0.7s ease-out;

            &:hover {
            	background-position: 100% 50%;
            }
          }
        }
      .circle2 {
        @include dimensions(10em, 10em);
      	right: 1em;
      	top: 1.5em;
      }

      .project.krasnopolie-library {
        height: 19.3115em;
      #circle2 {
      	animation: draw 7s forwards linear;
      	fill: none;
      	stroke: CornFlowerBlue;
      	stroke-dasharray: 700;
      	stroke-dashoffset: 700;
      	stroke-width: 6;
      }

      .project.lvm-consulting {
        height: 40.359375em;
      .line1 {
        @include dimensions(16em, 16em);
      	bottom: 2em;
      	right: 2em;
      }

      .project.tatiana-urda-portfolio {
        height: 24.6474375em;
      .line2 {
        @include dimensions(13.5em, 13.5em);
      	bottom: 0;
      	right: 7em;
      }

      .project-tile_shown {
        left: 0;
        transition: left 1s;
      #line1, #line2 {
      	animation: draw 8s forwards linear;
      	stroke: DeepSkyBlue;
      	stroke-dasharray: 700;
      	stroke-dashoffset: 700;
      	stroke-width: 6;
      }

      .project-tile_hidden {
        left: -25em;
        transition: left 1s;
      @keyframes draw {
      	100% {
      		stroke-dashoffset: 0;
      	}
      }
    }
  }

    .project-info {
      box-sizing: border-box;
      max-width: 70em;
      margin: 0 auto;
      padding: 0 1em 11em 1em;
      position: relative;
      width: 80%;

      @include respond-to('max-width: 800px') {
        padding-bottom: 2em;
      }

      @include respond-to('max-width: 640px') {
        width: 100%;
      }

      .project-info-images {
        width: 100%;

        .project-info-image {
          border: $blackThinBorder;
          margin: 0 0 1em 0;
          width: 100%;
        }

        .mobile-view {
          border: $blackThinBorder;
          max-width: 30em;
          margin: 0 auto 1em auto;
          overflow-y: scroll;

          @include respond-to('max-width: 640px') {
            height: 37em;
          }

          .project-info-image {
            border: none;
            margin: 0;
            width: 100%;
          }
        }
      }

      .project-info-name {
        @include dimensions(9em, 30em);
        background-color: darkBlue;
        bottom: 2em;
        box-shadow: 0.3em 0.3em steelBlue;
        box-sizing: border-box;
        color: white;
        display: inline-block;
        padding: 1em;
        position: absolute;
        right: 0;

        @include respond-to('max-width: 800px') {
          position: relative;
          top: 0;
          width: 100%;
        }

        h2 {
          font-size: 1em;
          line-height: 1.3;
          margin: 0 0 0.5em 0;
        }

        h3 {
          font: {
            size: 1em;
            weight: normal;
          }
          margin: 0;
        }

        .links {
          bottom: 1em;
          box-sizing: border-box;
          left: 0;
          padding: 0 1em;
          position: absolute;
          width: 100%;

          a {
            color: white;
            text-transform: uppercase;

            &:hover {
              font-weight: bold;
            }

            &:last-child {
              float: right;
            }
          }
        }
      }
    }

    .tatiana-urda-portfolio {
      .mobile-view {
        height: 41.8em;
      }
    }

    .krasnopolie-library {
      .mobile-view {
        height: 40em;
      }
    }

    .lvm-consulting {
      .mobile-view {
        height: 42.9em;
      }
    }

    .arrow-up {
      @include dimensions(3em, 3em);
      bottom: 0.7em;
      display: none;
      position: fixed;
      right: 1.3em;
      z-index: 1;

      img {
        @include dimensions(100%, 100%);
      }
    }
  }

  footer {
    background-color: black;

    a {
      color: white;
    }

    @include respond-to('max-width: 640px') {
      height: 13em;
      text-align: center;
    }

    .my-name-link {
      margin: 0.5em 0;
      position: relative;
      top: 0.7em;

      @include respond-to('max-width: 640px') {
        left: 0;
      }

      .my-name {
        font: {
          size: 1.3em;
          weight: normal;
        }
      }
    }

    .contact-icons {
      display: inline-block;
      left: 1.7em;
      position: absolute;
      top: 6em;

      @include respond-to('max-width: 640px') {
        left: 0;
        position: relative;
        top: 0.7em;
        width: 100%;
      }

      a {
        @include dimensions(auto, 40px);
        display: inline-block;
        margin-right: 0.5em;
        vertical-align: middle;

        @include respond-to('max-width: 640px') {
          margin: 0.5em;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
