html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*body, header, .about, .portfolio {
}*/

/*body, header, .about {
}*/

/*header, .about {
}*/

body {
	font-family: 'Catamaran', sans-serif;
	background-color: #fff;
	overflow: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

a {
	width: 100%;
	text-decoration: none;
	color: black;
	border: none;
}

img {
	vertical-align: middle;
}

header {
	min-height: 100%;
	background: url('https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-0.3.5&s=2b9ea739131279c74ac7da63a7ed5c16&auto=format&fit=crop&w=1789&q=80') center/cover no-repeat;
	background-attachment: fixed;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.name {
	width: 60%;
	margin-top: 10em;
	text-align: center;
}

h1 {
	margin-bottom: 0;
	font-family: 'Marck Script', cursive;
	font-size: 3em;
}

h3 {
	margin-top: 0.3em;
	font-size: 1.2em;
	font-weight: 400;
}

.arrow-down {
	width: 48px;
	height: 48px;
	margin-bottom: 0;
	-webkit-transition: margin-bottom 1s ease;
	-moz-transition: margin-bottom 1s ease;
	-o-transition: margin-bottom 1s ease;
	-ms-transition: margin-bottom 1s ease;
	transition: margin-bottom 1s ease;
}

.arrow-down:hover {
	margin-bottom: -2px;
}

.about {
	margin: 4em 4em 4em 3em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.photo {
	width: 25%;
}

.text {
	width: 70%;
}

.photo img {
	width: 100%;
	border: 3px solid #000;
	border-radius: 50%;
}

.portfolio {
	margin: 0 1em 4em 1em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;
}

.holder {
	width: 23%;
	margin-bottom: 2em;
	box-shadow: 0 4px 5px 0;
	position: relative;
}

.holder:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}

.holder img {
	width: 100%;
}

.empty h4 {
	border: none;
}

.project {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

.project:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: "";	
}

h4 {
	width: 120px;
	padding: 5px;
	color: #eee;
	text-align: center;
	border: 3px solid #eee;
	display: inline-block;
	vertical-align: middle;
}

.holder:hover .project {
	display: block;
}

.project__about {
	
}

.project__about img {
	width: 70%;
}

.project__text {
	width: 500px;
	border: 1px solid #000;
	background-color: #F4EE4B;
}

.project__text h5, p {
	margin: 0.7em 0;
}

footer {
	padding: 0 0.8em;
	border-top: 1px solid #000;
	background-color: #F4EE4B;
	position: relative;
}

footer p {
	width: 100px;
	margin: 2em 0.5em 2em 0;
	font-size: 0.8em;
	float: left;
}

.rights {
	width: 55%;
	height: 100%;
	float: left;
}

.rights img {
	width: 25px;
	height: 25px;
	margin-top: 1.4em;
}

.links {
	width: 45%;
	height: 100%;
	text-align: right;
	position: absolute;
	right: 0.8em;
}

.links img {
	width: 32px;
	height: 32px;
	margin-top: 1.2em;
}

.ru {
	margin-left: 2em;
}

@media screen and (max-width: 1024px) {
	.holder {
		width: 35%;
	}
}

@media screen and (max-width: 800px) {
	.name {
		width: 100%;
		margin-top: 4em;
	}

	.about {
		margin: 3em 2em;
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}

	.photo {
		width: 40%;
	}

	.text {
		width: 80%;
		text-align: center;
	}

	.portfolio {
		margin-bottom: 3em;
	}

	.holder {
		width: 45%;
	}
}

@media screen and (max-width: 640px) {
	.photo {
		width: 70%;
	}

	.text {
		width: 100%;
	}

	.holder {
		width: 90%;
	}

	.links img {
		width: 27px;
		height: 27px;
		margin-top: 1.3em;
	}

	.ru {
		margin-left: 1em;
	}
}