html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, header, .about, .portfolio {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

body, header, .about {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

header, .about {
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #fff;
	overflow-x: hidden;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
}

a {
	width: 100%;
	color: black;
	text-decoration: none;
	border: none;
}

img {
	vertical-align: middle;
}

/* Index page */
header {
	min-height: 100%;
	background: url(pics/georgie-cobbs-459520.jpg) center/cover no-repeat;
	background-attachment: fixed;
	position: relative;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	flex-flow: column wrap;
}

.languages {
	margin: 0.3em;
	font-size: 1.2em;
	font-weight: bold;
	-webkit-align-self: flex-end;
	-moz-align-self: flex-end;
	-ms-align-self: flex-end;
	-o-align-self: flex-end;
	align-self: flex-end;
}

.languages p {
	margin: 0.3em 0.1em;
	padding: 0.5em 0.7em;
	transition: all 1s ease-out;
	background: linear-gradient(to right, rgb(219, 220, 215), rgb(255, 255, 0));
	background-size: 200% 200%;
	display: none;
}

.languages p:hover {
	background-position: 99% 50%;
}

.name {
	width: 60%;
	margin-top: -7em;
	text-align: center;
	display: none;
}

.name h1 {
	margin-bottom: 0;
	font-family: 'Marck Script', cursive;
	font-size: 3em;
}

.name h3 {
	margin-top: 0.3em;
	font-size: 1.2em;
	font-weight: 400;
}

#arrow-down {
	margin-bottom: 0;
	-webkit-transition: margin-bottom 1s ease;
	-moz-transition: margin-bottom 1s ease;
	-o-transition: margin-bottom 1s ease;
	-ms-transition: margin-bottom 1s ease;
	transition: margin-bottom 1s ease;
}

#arrow-down:hover {
	margin-bottom: -2px;
}

/* About me */
.photo {
	width: 30%;
}

#photo {
	width: 90%;
	box-shadow: 2em 2em #F4EE4B;
	position: relative;
	top: -2em;
	display: none;
}

.text {
	width: 70%;
	padding: 0 1em;
	font-size: 1.2em;
}

.text p {
	display: none;
}

/* Portfolio */
.portfolio {
	margin: 3em auto 2em auto;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
}

.project {
	width: 25%;
	position: relative;
}

.project img {
	width: 100%;
	display: block;
}

.project p {
	padding: 0.1em 0.7em;
	color: #fff;
	font-size: 1.1em;
}

.project__title {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

.project:hover .project__title {
	display: block;
}

footer {
	padding: 0 0.8em;
	background-color: #F4EE4B;
	border-top: 1px solid #000;
	position: relative;
}

footer p {
	width: 100px;
	margin: 2em 0;
	padding: 0 0.9em 0 0;
	font-size: 0.9em;
	float: left;
}

.rights {
	width: 60%;
	height: 100%;
	float: left;
}

.rights img {
	width: 25px;
	height: 25px;
	margin-top: 1.4em;
}

.links {
	width: 40%;
	height: 100%;
	text-align: right;
	position: absolute;
	right: 0.8em;
}

.social-media {
	width: 32px;
	height: 32px;
	margin-top: 1.2em;
}

.email {
	width: 29px;
	height: 29px;
	margin: 1.4em 0.15em 0 0;
}

/* Pages of the projects */
.project__content {
	height: 100%;
	background-color: #F7F7F7;
}

.project__about {
	min-height: 100%;
	position: relative;
}

.project__img {
	width: 65%;
	margin: 2em 0 0 2em;
	border: 1px solid #000;
	display: none;
}

.project__img:hover {
	z-index: 5;
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}

.project__img-one {
	position: absolute;
}

.project__img-two {
	position: absolute;
	top: 2em;
	left: 2em;
	z-index: 1;
}

.project__img-three {
	position: absolute;
	top: 4em;
	left: 4em;
	z-index: 2;
}

.project__img-four {
	position: absolute;
	top: 6em;
	left: 6em;
	z-index: 3;
}

.project__text {
	width: 30em;
	background-color: #F4EE4B;
	border: 1px solid #000;
	position: absolute;
	bottom: 2em;
	right: 3em;
	z-index: 10;
	display: none;
}

.project__text h4, p {
	margin: 0.7em 0;
	padding: 0 1em;
}

.project__text span {
	font-weight: bold;
	float: right;
}

.arrow-home a, .arrow-left a, .arrow-right a {
	display: block;
}

.arrow-home img, .arrow-left img, .arrow-right img {
	width: 60px;
	height: 60px;
	margin: 0;
	border: none;
	position: absolute;
	display: none;
}

.arrow-home img {
	bottom: 1em;
	left: 1em;
}

.arrow-left img {
	top: 1em;
	right: 4em;
}

.arrow-right img {
	top: 1em;
	right: 1em;
}

@media screen and (max-width: 1024px) {
	.project__img {
		width: 70%;
	}

	.project__text {
		bottom: 2.5em;
		right: 2em;
	}
}

@media screen and (max-width: 800px) {
	.name {
		width: 100%;
		margin-top: -6em;
	}

	.about {
		margin: 2em 2em 0 2em;
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}

	.photo {
		width: 50%;
	}

	#photo {
		top: 0;
	}

	.text {
		width: 80%;
		padding: 2em 0 0 0;
		text-align: center;
	}

	.project p {
		font-size: 1.2em;
	}

	.portfolio {
		margin: 3em 0;
	}

	.project {
		width: 50%;
	}

	.project__content * {
		position: static;
	}

	.project__content {
		height: auto;
	}

	.project__about {
		width: 90%;
		margin: 0 auto;
		padding-top: 5em;
	}

	.project__img {
		width: 100%;
		margin: 1em 0;
	}

	.project__text {
		width: 90%;
		margin: 0 auto 2em auto;
	}

	.arrow-home img {
		position: relative;
		bottom: 1em;
		left: -2em;
	}

	.arrow-left img {
		left: 1em;
	}
}

@media screen and (max-width: 640px) {
	.about {
		margin: 2em 0 0 0;
	}

	.photo {
		width: 70%;
	}

	#photo {
		box-shadow: 1.2em 1.2em #F4EE4B;
	}

	.text {
		width: 100%;
	}

	.portfolio {
		margin: 2em 0;
	}

	.project {
		width: 100%;
	}

	.project__text {
		width: 100%;
	}

	.arrow-home img {
		bottom: 0.5em;
		left: -1em;
	}
}

@media screen and (max-width: 380px) {
	.project__text p:last-child {
		padding-bottom: 2em;
	}

	.project__text span {
		line-height: 2.5;
	}
}