html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Catamaran', sans-serif;
}

body {
	background-color: white;
	overflow: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: black;
}

header {
	min-height: 100%;
	background: url('https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-0.3.5&s=2b9ea739131279c74ac7da63a7ed5c16&auto=format&fit=crop&w=1789&q=80') center/cover no-repeat;
	position: relative;
}

.name {
	width: 60%;
	margin: 12em auto 0 auto;
	text-align: center;
}

h1 {
	margin-bottom: 0;
	font-family: 'Marck Script', cursive;
	font-size: 3em;
}

h3 {
	margin-top: 0.3em;
	font-size: 1.2em;
	font-weight: 400;
}

.about {
	margin: 4em 3em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.photo {
	width: 25%;
}

.text {
	width: 70%;
}

.photo img {
	width: 100%;
	border: 3px solid black;
	border-radius: 50%;
}

.portfolio {
	margin-bottom: 4em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

.portfolio a {
	width: 25%;
	height: 200px;
}

.a {
	background-color: black;
}

.b {
	background-color: purple;
}

.c {
	background-color: yellow;
}

.d {
	background-color: green;
}

.e {
	background-color: red;
}

.f {
	background-color: blue;
}

.g {
	background-color: orange;
}

.h {
	background-color: gray;
}

.portfolio img {
	width: 100%;
}

footer {
	padding: 0 0.8em;
	border-top: 1px solid black;
	background-color: #F4EE4B;
	position: relative;
}

footer p {
	width: 100px;
	margin: 2em 0.5em 2em 0;
	font-size: 0.8em;
	float: left;
}

.rights {
	width: 55%;
	float: left;
}

.rights img {
	width: 25px;
	margin-top: 1.5em;
}

.links {
	width: 45%;
	text-align: right;
	position: absolute;
	top: 1.2em;
	right: 0.8em;
}

.links img {
	width: 32px;
	margin-bottom: 0.3em;
}

.ru {
	margin-left: 2em;
}

@media screen and (max-width: 767px) {
	.name {
		width: 80%;
	}

	.about {
		margin: 3em 2em;
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}

	.photo {
		width: 40%;
	}

	.text {
		width: 80%;
		text-align: center;
	}

	.portfolio {
		margin-bottom: 3em;
	}

	.portfolio a {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.photo {
		width: 70%;
	}

	.portfolio a {
		width: 100%;
	}

	.links img {
		width: 27px;
		margin: 0.2em 0 0 0;
	}

	.ru {
		margin-left: 1em;
	}
}