$white: #fff;
$black: #000;
$bright-blue: #00A1C0;
$dark-blue: #004060;
$dark-violet: #AE8EAC;
$gray: #ccc;
$dark-gray: #1a1f21;
$simple-border: 1px solid black;
$blue-border: 3px solid #00A1C0;
$violet-border: 5px solid #AE8EAC;