@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}

@mixin indentations($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin respond-to($media) {
  @if $media == 'max-width: 1366px' {
    @media (max-width: 1366px) { @content; }
  }
  @else if $media == 'max-width: 1200px' {
    @media (max-width: 1200px) { @content; }
  }
  @else if $media == 'max-width: 1024px' {
    @media (max-width: 1024px) { @content; }
  }
  @else if $media == 'max-width: 960px max-height: 640px landscape' {
    @media (max-width: 960px) and (max-height: 640px) and (orientation: landscape) { @content; }
  }
  @else if $media == 'max-width: 800px' {
    @media (max-width: 800px) { @content; }
  }
  @else if $media == 'max-width: 800px max-height: 300px landscape' {
    @media (max-width: 800px) and (max-height: 300px) and (orientation: landscape) { @content; }
  }
  @else if $media == 'max-width: 640px' {
    @media (max-width: 640px) { @content; }
  }
  @else if $media == 'max-width: 640px landscape' {
    @media (max-width: 640px) and (orientation: landscape) { @content; }
  }
  @else if $media == 'max-width: 480px' {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == 'max-width: 380px' {
    @media (max-width: 380px) { @content; }
  }
}
