@import 'helpers/variables';
@import 'helpers/mixins';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body, .index {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: $white;
  font-family: 'PT Sans', sans-serif;
  background-color: $black;
  position: relative;

  a {
    display: inline-block;
    text-decoration: none;
    color: $white;
    border: none;

    img {
      @include dimensions(100%, 100%);
    }
  }

  img {
    border: none;
  }

  main *:focus {
    outline-color: $white;
  }
}

.index {
  position: relative;
  overflow: hidden;

  .my-name,
  .language,
  .nav,
  .contacts,
  .back {
    position: absolute;
    z-index: 1;
    transition: 1.5s;
  }

  .my-name {
    width: 26em;
    top: 1em;
    left: -1000px;
    @include respond-to('max-width: 800px') {
      top: 0;
    }

    &:hover {
      box-shadow: 0.8em 0.8em $bright-blue;
      transition: 0.5s;
    }

    h1 {
      margin: 0.5em 2em 0.2em 0.7em;
      @include respond-to('max-width: 640px') {
        font-size: 1.5em;
      }
      @include respond-to('max-width: 480px') {
        font-size: 1.4em;
      }
    }

    h2 {
      margin: 0 2em 1.3em 1.15em;
      font: {
        size: 1.3em;
        weight: 200;
      }
      @include respond-to('max-width: 640px') {
        margin-left: 0.9em;
        font-size: 1.2em;
      }
    }
  }

  .language {
    background-color: $bright-blue;
    top: -1000px;
    right: 0;

    &:hover {
      box-shadow: 0.5em 0.5em $dark-pink;
      transition: 0.5s;
    }

    a {
      @include indentations(0, 1.2em 1.5em);
      font: {
        size: 1.2em;
        weight: bold;
      }
      @include respond-to('max-width: 640px') {
        padding: 1em 1.3em;
      }
    }
  }

  .nav {
    width: 10em;
    border-left: $pink-border;
    bottom: 0;
    left: -1000px;

    .nav__portfolio,
    .nav__about {
      @include indentations(0, 1em);
      box-sizing: border-box;
      list-style-type: none;
      font-size: 1.1em;
      transition: .7s;
      cursor: pointer;
      &:hover {
        background-color: $bright-blue;
      }
    }
  }

  .contacts {
    padding-right: 1em;
    bottom: 1em;
    right: -1000px;

    a {
      @include dimensions(40px, 40px);
      margin: 0 0.05em 0.05em 0.05em;
      vertical-align: middle;
      @include respond-to('max-width: 640px') {
        @include dimensions(45px, 45px);
        margin: 0.5em 0;
        display: block;
      }

      &:last-child {
        @include dimensions(47px, 47px);
        margin: 0 -0.2em;
        @include respond-to('max-width: 640px') {
          @include dimensions(52px, 52px);
        }
      }
    }
  }

  .back {
    @include dimensions(50%, 100%);
    max-width: 50em;
    display: none;
    background-color: rgba(0, 0, 0, 0.95);
    border-left: $pink-border;
    position: absolute;
    right: 0;
    z-index: 10;
    overflow: auto;
    @include respond-to('max-width: 800px') {
      width: 100%;
    }

    .portfolio {
      @include dimensions(100%, auto);
      display: none;
      text-align: center;

      .portfolio__project {
        width: 99%;
        margin: 0.12em auto;
        position: relative;

        .portfolio__project-thumb {
          width: 98%;
          margin-top: 1%;
        }

        .portfolio__project-title {
          @include dimensions(100%, 100%);
          box-sizing: border-box;
          color: $white;
          background-color: $black;
          border: $blue-border;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;

          .portfolio__project-title-links {
            @include dimensions(40%, 1.5em);
            margin: 10% auto auto auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include respond-to('max-width: 480px') {
              width: 50%;
            }

            a {
              font: {
                size: 1.1em;
                weight: bold;
              }

              &:first-child {
                float: left;
              }

              &:last-child {
                float: right;
              }
            }
          }

          .portfolio__project-title-about {
            margin: 1em;
            font: {
              size: 1em;
              weight: normal;
            }
            line-height: 1.4;
            text-align: left;
            position: absolute;
            bottom: 0;
          }
        }
      }

      .portfolio__project-title_hidden {
        animation: {
          name: projectTitle;
          duration: 0.7s;
          fill-mode: forwards;
        }
      }

      @keyframes projectTitle {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .about {
      @include dimensions(100%, 100%);
      padding-right: 1em;
      box-sizing: border-box;
      display: none;
      overflow: auto;
      @include respond-to('max-width: 640px') {
        padding-right: 0.5em;
      }

      .about__text,
      .about__skills,
      .about_empty {
        background-color: $bright-blue;
        position: relative;
      }

      .about__text {
        width: 70%;
        max-width: 40em;
        @include indentations(4em auto 3em auto, 1em);
        box-shadow: 1em 1em $dark-pink;
        @include respond-to('max-width: 1024px') {
          width: 80%;
        }
        @include respond-to('max-width: 640px') {
          box-shadow: 0.7em 0.7em $dark-pink;
        }
      }

      .about__skills {
        width: 60%;
        max-width: 25em;
        @include indentations(3em, 1em);
        box-shadow: 1em 1em $dark-blue;
        float: right;
        @include respond-to('max-width: 1024px') {
          width: 80%;
          max-width: none;
          margin: 1em auto 3em auto;
          float: none;
        }
        @include respond-to('max-width: 640px') {
          box-shadow: 0.7em 0.7em $dark-blue;
        }

        p {
          margin: 0.5em 0;
        }
      }

      .about_empty {
        @include dimensions(20em, 10em);
        margin: 3em 2em;
        display: block;
        box-shadow: -0.5em -0.5em $white;
        float: left;
        @include respond-to('max-width: 1024px') {
          display: none;
        }
      }
    }

    .back__close-icon {
      padding: 0 0.43em 0.04em 0.43em;
      font-size: 2em;
      border-radius: 50%;
      position: absolute;
      top: 0.3em;
      right: 0.5em;
      z-index: 10;
      cursor: pointer;
    }
  }
}
