@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import "helper/variables";
@import "helper/mixins";
@import "helper/placeholders";

html, body, main {
	@include dimensions(100%, 100%);
	@include indentation(0, 0);
}

body {
	font-family: 'PT Sans', sans-serif;
	background-color: $white;
}

a {
	@include dimensions(100%, 100%);
	text-decoration: none;
	color: $white;
	border: none;
	outline: none;
	display: inline-block;
}

main {
	position: relative;
	overflow: hidden;
	#name, #languages, #nav, #contacts, .styling-element {
		background-color: $black;
		position: absolute;
		transition: 1s;
	}
	#name, #nav, #contacts {
		left: -1000px;
	}
	#name {
		top: 1em;
		z-index: 1;
		h1 {
			margin: 0.7em 2em 0.2em 1em;
			font-size: 2.5em;
		}
		h2 {
			margin: 0 2em 1.3em 2em;
			font: {
				size: 1.3em;
				weight: 200;
			}
		}
	}
	#languages {
		top: 0;
		right: -1000px;
		z-index: 1;
		p {
			@include indentation(0, 1.2em 1.5em);
			font: {
				size: 1.2em;
				weight: bold;
			}
		}
	}
	#nav {
		width: 10em;
		bottom: 5.5em;
		a {
			@include indentation(0, 1.1em 1em);
			font-size: 1.1em;
			box-sizing: border-box;
			cursor: pointer;
		}
	}
	#contacts {
		padding: 1.01em 1.61em;
		bottom: 0;
		a {
			@include dimensions(30px, 30px);
			margin: 0 0.1em;
			vertical-align: middle;
		}
		img {
			@include dimensions(100%, 100%);
		}
	}
	#back {
		@include dimensions(60%, 100%);
		@include back-photo("images/georgie-cobbs-459520-unsplash");
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		#front {
			width: 100%;
			min-height: 100%;
			overflow-y: scroll;
			background-color: fade-out(#fff, $amount * 2);
			border-left: 5px solid $black;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
			display: none;
			#close {
				@include dimensions(52px, 52px);
				padding: 0;
				color: $black;
				font-size: 3em;
				background-color: $bright-yellow;
				border: none;
				position: absolute;
				top: 0.3em;
				right: 0.3em;
				outline: none;
				z-index: 20;
				cursor: pointer;
			}
			#about, #portfolio, #projects-info {
				@include front-sections(100%, 100%, center, absolute, 0, 0, none, 15);
			}
			#about {
				.photo {
					width: 30%;
					margin: 2em auto;
					box-shadow: 1.5em 1.5em $bright-yellow;
				}
				.text {
					width: 70%;
					@include indentation(0 auto, 0.5em 1em);
					hr {
						height: 0.1em;
						margin: 1.5em 0;
						background-color: $black;
					}
				}
			}
			#portfolio {
				align-content: flex-start;
				.portfolio__apps, .portfolio__websites {
					width: 50%;
					display: flex;
					flex-flow: column nowrap;
					.project {
						width: 100%;
						margin-bottom: -4px;
						display: inline-block;
						position: relative;
						cursor: pointer;
						img {
							width: 100%;
						}
						.project__title {
							@include dimensions(100%, 100%);
							background-color: fade-out(#000, $amount);
							position: absolute;
							top: 0;
							left: 0;
							opacity: 0;
							p {
								padding: 0 0.7em;
								color: $white;
								font-size: 1.1em;
								text-align: left;
								position: absolute;
								bottom: 0;
							}
						}
					}
				}
			}
			#projects-info {
				.project__content {
					width: 100%;
					padding: 2em 10% 0 10%;
					box-sizing: border-box;
					display: none;
					.arrow-left, .arrow-right {
						@include slider-arrow(50px, 50px, absolute, 10em, pointer);
					}
					.arrow-left {
						left: 0.5em;
					}
					.arrow-right {
						right: 0.5em;
					}
					.project__img {
						@include dimensions(100%, 20em);
						margin-bottom: 1em;
						position: relative;
						img {
							max-width: 100%;
							max-height: 100%;
							margin: 0;
							border: $simple-border;
							position: absolute;
							top: 0;
							left: 0;
							display: none;
							&:first-child {
								display: block;
							}
						}
					}
					.dots {
						@include dimensions(80%, 1.2em);
						margin: 0 auto;
						.dot {
							@include dimensions(0.6em, 0.55em);
							margin: 0 0.1em;
							background-color: $white;
							border: $simple-border;
							border-radius: 50%;
							display: inline-block;
							vertical-align: middle;
							&:first-child {
								background-color: $black;
							}
						}
					}
					.project__text {
						width: 80%;
						background-color: $bright-yellow;
						border: $simple-border;
						position: absolute;
						bottom: 2.5em;
						a {
							color: $black;
						}
						h4, p {
							@include indentation(0.7em 0, 0 1em);
							text-align: left;
						}
						span {
							padding: 0.7em 1em;
							font-weight: bold;
							float: right;
						}
					}
					.go-back {
						@include dimensions(7em, auto);
						padding: 0;
						font-weight: bold;
						position: absolute;
						bottom: 0;
						left: 1em;
						cursor: pointer;
					}
				}
			}
		}
	}
	.styling-element {
		@include dimensions(7%, 1em);
		bottom: 2.7em;
		right: 56.5%;
		z-index: 20;
		opacity: 0;
	}
	.photo-copyright {
		@include dimensions(auto, 1em);
		padding: 1em;
		color: $dark-gray;
		font-size: 0.8em;
		text-align: right;
		position: absolute;
		bottom: 0;
		right: 0;
		&:hover {
			color: $black;
		}
	}
}

.project__title-active {
	animation: {
		name: projectTitle;
		duration: 0.7s;
		fill-mode: forwards;
	}
}

@keyframes projectTitle {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}