@media screen and (max-width: 1024px) {
	.project__img {
		width: 70%;
	}

	.project__text {
		bottom: 2.5em;
		right: 2em;
	}
}

@media screen and (max-width: 800px) {
	#name {
		width: 100%;
		margin-top: -6em;
	}

	#about {
		margin: 2em 2em 0 2em;
	}

	.photo {
		width: 50%;
	}

	.photo img {
		top: 0;
	}

	.text {
		width: 80%;
		padding: 2em 0 0 0;
		text-align: center;
	}

	.project__title p {
		font-size: 1.2em;
	}

	#portfolio {
		margin: 3em 0;
	}

	.project {
		width: 50%;
	}

	.project__content * {
		position: static;
	}

	.project__content {
		height: auto;
	}

	.project__about {
		width: 90%;
		margin: 0 auto;
		padding-top: 5em;
	}

	.project__img {
		width: 100%;
		margin: 1em 0;
	}

	.project__text {
		width: 90%;
		margin: 0 auto 2em auto;
		padding-bottom: 2.5em;
	}

	.project__text span {
		padding: 0.7em 1em;
	}

	.arrow-home img {
		position: relative;
		bottom: 1em;
		left: -2em;
	}

	.arrow-left img {
		left: 1em;
	}
}

@media screen and (max-width: 640px) {
	#about {
		margin: 2em 0 0 0;
	}

	.photo {
		width: 70%;
	}

	.photo img {
		box-shadow: 1.2em 1.2em #F4EE4B;
	}

	.text {
		width: 100%;
	}

	#portfolio {
		margin: 2em 0;
	}

	.project {
		width: 100%;
	}

	.project__text {
		width: 100%;
	}

	.arrow-home img {
		bottom: 0.5em;
		left: -1em;
	}
}

