$white: #fff;
$black: #000;
$bright-blue: #00A1C0;
$dark-blue: #004060;
$dark-pink: #AE8EAC;
$gray: #676F74;
$simple-border: 0.1em solid $black;
$blue-border: 0.2em solid $bright-blue;
$pink-border: 0.3em solid $dark-pink;
